@{
    ViewBag.Title = "我的帖子";
    Layout = "_Layout";
}

<input type="hidden" id="articleTotal" value="@ViewBag.ArticleTotal" />
<input type="hidden" id="favoriteTotal" value="@ViewBag.FavoriteTotal" />

<div class="layui-container edoc-marginTop edoc-user-main">
    <partial name="_PersonalCenter" model="@ViewBag.Selected" />

    <div class="edoc-panel edoc-panel-user" pad20="">
        <div class="layui-tab layui-tab-brief" lay-filter="article">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this">全部消息（<span> @ViewBag.AllCount </span>）</li>
                <li lay-id="collection">未读消息（<span> @ViewBag.NotReadCount </span>）</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <ul class="jie-row" id="articlesContainer"></ul>
                    <div style="text-align: center">
                        <div id="articlesPager"></div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <ul class="jie-row" id="favoriteContainer"></ul>
                    <div style="text-align: center">
                        <div id="favoritePager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script id="articleTpl" type="text/html">
    {{# layui.each(d, function(index, item) { }}
    <li data-id="">
        <blockquote class="layui-elem-quote">
            <a href="/jump?username=岁月小偷" target="_blank">
                <cite>岁月小偷</cite>
            </a>
            在
            求解
            <a target="_blank" href="/jie/34072/page/3/#item-1539079593624">
                <cite>谈谈 table 的 sort</cite>
            </a>
            中回复了你
        </blockquote>
        <p>
            <span>2018-10-9 18:6:33</span>
            <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger fly-delete">删除</a>
        </p>
    </li>
    {{# }); }}
    </script>
    <script asp-append-version="true" src="~/js/views/account/message.js"></script>
}