@model VmArticleForAdd
@using EDoc2.FAQ.Web.Data.Discuss
@using EDoc2.FAQ.Web.Services
@using EDoc2.FAQ.Web.Data.Common
@inject ISystemManager SystemManager
@{
    ViewBag.Title = "发表新帖";
    Layout = "_Layout";
}

@section Css
    {
    <link href="~/layui/css/modules/inputTags.css" rel="stylesheet" />
}

<div class="layui-container edoc-marginTop">
    <div class="edoc-panel" pad20="" style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">发表新帖</li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PageId)
                            <div class="layui-form-item">
                                <label for="L_title" class="layui-form-label">标题</label>
                                <div class="layui-input-block">
                                    @Html.TextBoxFor(m => m.Title, new { lay_verify = "required", maxlength = "128", autocomplete = "off", @class = "layui-input" })
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <div id="L_editor" lay_required="">
                                        @Html.Raw(Model.Content)
                                    </div>
                                    @Html.HiddenFor(m => m.Content, new { id = "content" })
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">产品</label>
                                <div class="layui-input-block" style="width: 350px;">
                                    @Html.DropDownListFor(m => m.ProductId, new SelectList(await SystemManager.GetCategories(ArticleSubTypes.Product), "Id", "Display"), "请选择", new { @class = "layui-input", lay_verify = "required" })
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类</label>
                                <div class="layui-input-block" style="width: 350px;">
                                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(await SystemManager.GetCategories(ArticleSubTypes.Category), "Id", "Display"), "请选择", new { @class = "layui-input", lay_verify = "required" })
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">标签</label>
                                <div class="layui-input-block" style="width: 350px;">
                                    @Html.DropDownListFor(m => m.TagId, new SelectList(await SystemManager.GetCategories(ArticleSubTypes.Tag), "Id", "Display"), "请选择", new { @class = "layui-input", lay_verify = "required" })
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">悬赏值</label>
                                    <div class="layui-input-inline">
                                        @Html.TextBoxFor(m => m.RewardScore, new { lay_verify = "required|number", autocomplete = "off", @class = "layui-input" })
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">
                                        <i class="icon-coin"></i>
                                        @Html.HiddenFor(m => m.LeftScore)
                                        剩余财富值为 @Model.LeftScore
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">
                                        @Html.ValidationMessageFor(m => m.RewardScore)
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_imagecode" class="layui-form-label">图形码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_imagecode" name="ImageCode" required="" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid" style="padding: 0 !important;">
                                    <img src="GetImgCode?r=@Model.PageId" class="edoc-imagecode" width="150" height="50">
                                </div>
                                <div class="layui-form-mid layui-word-aux">
                                    @Html.ValidationMessageFor(m => m.ImageCode)
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="release" lay-submit="">立即发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/editor/wangEditor.js"></script>
    <script src="~/xss/xss.min.js"></script>

    <script>
        layui.use(['form', 'layedit', 'sys'],
            function () {
                var form = layui.form,
                    sys = layui.sys;

                var E = window.wangEditor;
                var editor = new E("#L_editor");
                var content = document.getElementById("content");
                editor.customConfig.onchange = function (html) {
                    content.value = filterXSS(html);
                }
                editor.create();

                form.on('submit(release)', function (data) {
                    if (data.field.Content.length < 50) {
                        sys.msg.error('内容长度最少50');
                        return false;
                    }
                    return true;
                });
            });
    </script>
}
