@using System.Security.Claims
@using EDoc2.FAQ.Web.Data.Identity
@using EDoc2.FAQ.Web.Extensions
@using EDoc2.FAQ.Web.Services
@using EDoc2.FAQ.Web.Data.Common
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject ISystemManager SystemManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="edoc2,ecm,内容管理,问答社区">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" media="screen" href="~/images/shortcuticon.png">
    <title>@ViewData["Title"] - EDoc2社区</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/layui/font/custom/customfont.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
    @*<script data-main="../js/main" src="~/js/require.js"></script>*@
    <script src="~/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/js/views/exts/'
        }).extend({
            sys: 'sys',
        });
        layui.use('element', function () { });
    </script>
</head>
<body>
    <div class="edoc-header layui-header layui-bg-black">
        <div class="layui-container">
            <a class="edoc-logo" href="/"> <img src="~/images/logo.png" alt="layui"> </a>
            @{
                var isProduct = Url.ActionContext.HttpContext.Request.Query.ContainsKey("Product");
            }
            <ul class="layui-nav edoc-nav layui-hide-xs">
                <li class="layui-nav-item @(isProduct? string.Empty:"layui-this")">
                    <a asp-action="Index" asp-controller="Home">
                        <i style="line-height: 60px; vertical-align: middle;" class="icon-communication"></i>交流
                    </a>
                </li>
                <li class="layui-nav-item @(isProduct? "layui-this":string.Empty)">
                    <a href="javascript:void(0);">
                        <i class="layui-icon layui-icon-component" style="top: 1px;"></i>专区<span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child edoc-nav-child layui-anim layui-anim-upbit">
                        @foreach (var product in await SystemManager.GetCategories(ArticleSubTypes.Product))
                        {
                            <dd>
                                <a asp-controller="Home" asp-action="Index" asp-route-product="@product.Id">@product.Display</a>
                            </dd>
                        }
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav edoc-nav-user">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="layui-nav-item">
                        <a class="icon-touxiang" title="个人中心" asp-action="Home" asp-controller="Account">
                            <cite>@((await UserManager.GetUserAsync(User)).UserClaims.Get<string>(ClaimTypes.Name))</cite>
                            <img src="/Account/GetAvatar?accountId=@((await UserManager.GetUserAsync(User))?.Id)" height="30" width="30">
                        </a>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            @*<dd><a asp-action="Index" asp-controller="Account"><i class="layui-icon layui-icon-user"></i>用户中心</a></dd>*@
                            <dd><a asp-action="Setting" asp-controller="Account"><i class="layui-icon layui-icon-set"></i>基本设置</a></dd>
                            <dd><a asp-action="Article" asp-controller="Account"><i class="layui-icon layui-icon-file"></i>我的贴子</a></dd>
                            <dd><a asp-action="Message" asp-controller="Account"><i class="layui-icon layui-icon-notice"></i>我的消息</a></dd>
                            <hr style="margin: 5px 0;">
                            <dd><a asp-action="Logout" asp-controller="Account" style="text-align: center;">退出</a></dd>
                        </dl>
                    </li>
                    @*<li class="layui-nav-item"><a asp-action="Logout" asp-controller="Account">注销</a></li>*@
                }
                else
                {
                    <li class="layui-nav-item"><a asp-action="Login" asp-controller="Account" class="icon-touxiang" title="登录"></a></li>
                    <li class="layui-nav-item"><a asp-action="Login" asp-controller="Account">登录</a></li>
                    <li class="layui-nav-item"><a asp-action="Register" asp-controller="Account">注册</a></li>
                }
            </ul>
            <span class="layui-nav-bar" style="left: 25px; top: 55px; width: 0px; opacity: 0;"></span>
        </div>
    </div>

    @RenderBody()

    <div class="edoc-footer">
        <p>&copy; 2018 - EDoc2社区</p>
    </div>

    <ul class="layui-fixbar">
        <li class="layui-icon" lay-type="bar1" style="background-color: #009688">
            @Html.ActionLink("", "Add", "Article", null, new { @class = "layui-icon layui-icon-edit", style = "font-size: 30px; " })
        </li>
        <li class="layui-icon layui-fixbar-top" lay-type="top" style="background-color: #009688">
            @Html.ActionLink("", "Add", "Article", null, new { @class = "layui-icon layui-icon-edit", style = "font-size: 30px; " })
        </li>
    </ul>

    @RenderSection("Scripts", required: false)
</body>

@RenderSection("Modals", required: false)

</html>
