@model VmHomeIndex
@{
    ViewData["Title"] = "首页";
}

@section Css
    {
    <style>
        .tile {
            min-width: 60px;
            min-height: 60px;
            line-height: 65px;
            text-align: center;
            vertical-align: middle;
            margin: 6px 3px;
            display: inline-block;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

            .tile:hover {
                color: white;
            }
    </style>
}

@await Html.PartialAsync("_NavMenu", Model.Nav)

<input type="hidden" id="productId" value="@Model.Product" />
<input type="hidden" id="categoryId" value="@Model.Category" />
<input type="hidden" id="tagId" value="@Model.Tag" />
<input type="hidden" id="state" value="@Model.State" />

<input type="hidden" id="total" value="@Model.Total" />

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="edoc-panel">
                <div class="edoc-panel-title edoc-filter">
                    <a>置顶</a>
                </div>
                <ul class="edoc-list" id="topArticleContainer">
                    <li style="text-align: center">暂无数据</li>
                </ul>
            </div>

            <div class="edoc-panel" style="margin-bottom: 0;">
                @await Html.PartialAsync("_SubNavMenu", Model.Nav)
                <ul class="edoc-list" id="articlesContainer">
                    <li style="text-align: center">暂无数据</li>
                </ul>
                <hr />
                <div style="text-align: center">
                    <div id="footPager"></div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="edoc-panel edoc-signin">
                <div class="edoc-panel-title">
                    签到
                    <i class="edoc-mid"></i>
                    <a href="javascript:;" class="edoc-link" id="signinHelp">说明</a>
                    <i class="edoc-mid"></i>
                    <a href="javascript:;" class="edoc-link" id="signinTop">活跃榜</a>
                    <span class="edoc-signin-days">已连续签到<cite id="keepSignInDays">0</cite>天</span>
                </div>
                <div class="edoc-panel-main edoc-signin-main">
                    <button class="layui-btn layui-btn-danger" id="signin">今日签到</button>
                    <span><span id="scoreTip">可获得</span><cite id="signInScore">0</cite>财富值</span>
                </div>
            </div>
            <div class="edoc-panel">
                <div class="edoc-panel-title">标签</div>
                <div class="edoc-panel-main" id="tagsContainer">
                </div>
            </div>
            <dl class="edoc-panel edoc-list-one" id="buzzTopicContainer"></dl>
            <div class="edoc-panel edoc-rank">
                <h3 class="edoc-panel-title">回贴周榜</h3>
                <dl>
                    @foreach (var item in Model.TopReplies)
                    {
                        <dd>
                            <a asp-controller="Account" asp-action="Home" asp-route-accountId="@item.UserId">
                                <img width="65" height="65" src="/Account/GetAvatar?accountId=@item.UserId">
                                <cite>@item.User</cite>
                                <i>
                                    @item.Replies 次回答
                                </i>
                            </a>
                        </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script id="articleTpl" type="text/html">
        {{# layui.each(d, function(index, item) { }}
        <li>
            <a href="/Account/Home?accountId={{ item.publisherId }}" class="edoc-avatar">
                <img src="/Account/GetAvatar?accountId={{ item.publisherId }}" height="45" width="45" alt="{{ item.publisher }}">
            </a>
            <h2>
                <a class="layui-badge">{{ item.category }}</a>
                <a href="/Article/Detail?articleId={{ item.id }}">{{ item.title }}</a>
            </h2>
            <div class="edoc-list-info">
                <a href="/Account/Home?accountId={{ item.publisherId }}" link="">
                    <cite class="edoc-link">{{ item.publisher }}</cite>
                </a>
                <span>{{ layui.util.toDateString(item.publishDate) }}</span>
                <span class="edoc-list-kiss" title="悬赏财富值">
                    <i class="icon-coin"></i> <cite>{{ item.rewardScore }}</cite>
                </span>
                {{# if(item.isSolved) { }}
                <span class="layui-badge edoc-badge-accept layui-hide-xs">已结</span>
                {{# } }}
                <span class="edoc-list-nums">
                    <i class="layui-icon layui-icon-dialogue" title="回答"></i> {{ item.replies }}
                </span>
            </div>
            <div class="edoc-list-badge">
                {{# if(item.isCream) { }}
                <span class="layui-badge layui-bg-red">精帖</span>
                {{# } }}
            </div>
        </li>
        {{# }); }}
    </script>
    <script id="tagTpl" type="text/html">
        {{# layui.each(d, function(index, item) { }}
        <a href="/Home/Index?tag={{ item.id }}" class="tile">{{item.display}}</a>
        {{# }); }}
    </script>
    <script id="buzzTopicTpl" type="text/html">
        <dt class="edoc-panel-title">近日热议</dt>
        {{# layui.each(d, function(index, item) { }}
        <dd>
            <a href="/Article/Detail?articleId={{ item.id }}">{{ item.title }}</a>
            <span><i class="layui-icon layui-icon-dialogue"></i> {{ item.replies }}</span>
        </dd>
        {{# }); }}
    </script>

    <script asp-append-version="true" src="~/js/views/home/index.js"></script>
}
